<div class="form-group">
  <input type="text" class="form-control" #title (keyup.enter)="createPost(title)">
</div>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let post of posts">
    <button class="btn btn-default btn-sm" (click)="updatePost(post)">Update</button>
    <button class="btn btn-default btn-sm" (click)="deletePost(post)">Delete</button>
    {{post.title}}</li>
</ul>