<form #f="ngForm" (bgSubmit)="onSubmit(f)">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input ngModel name="firstName" id="firstName" #firstName="ngModel" type="text" class="form-control" required minlength="3"
            pattern="banana">
        <div *ngIf="firstName.touched && !firstName.valid" class="alert alert-danger">
            <div *ngIf="firstName.errors.required">Firstname is required.</div>
            <div *ngIf="firstName.errors.minlength">Firstname should be minimum {{ firstName.errors.minlength.requiredLength}} characters.</div>
            <div *ngIf="firstName.errors.pattern">Firstname does not match pattern.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel #comment="ngModel" name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <div class="checkbox">
        <label for="isSubscribed">
            <input type="checkbox" ngModel name="isSubscribed" #isSubscribed="ngModel"> Subscribe to mailing list
        </label>
    </div>
    <div class="form-group">
        <label for="contactMethod">Contact Method</label>
        <select ngModel name="contactMethod" id="contactMethod" class="form-control">
            <option value=""></option>
            <option *ngFor="let method of contactMethods" [value]="method.id">{{method.name}}</option>
        </select>
    </div>
    <div class="radio" *ngFor="let method of contactMethods">
        <label>
            <input ngModel name="contactMethod" type="radio" [value]="method.id">
            {{method.name}}
        </label>
    </div>
    <div>{{f.value |json}}</div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>