<form [formGroup]="form">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input formControlName="oldPassword" type="text" class="form-control" name="oldPassword" id="oldPassword" />
        <div *ngIf="oldPassword.pending">Checking...</div>
        <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
            <div *ngIf="oldPassword.errors.required">Old Password is required.</div>
            <div *ngIf="oldPassword.errors.oldPasswordCheck">Password is not correct.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input formControlName="newPassword" type="text" class="form-control" name="newPassword" id="newPassword" />
        <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">New Password is required.</div>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" type="text" class="form-control" name="confirmPassword" id="confirmPassword" [class.error]="confirmPassword.touched && form.invalid && form.errors.passwordShouldMatch"
        />
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">Confirm Password is required.</div>
        <div *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordShouldMatch" class="alert alert-danger">Passwords does not match</div>

    </div>
</form>