<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
        <label for="courseName">Course name</label>
        <input ngModel #courseName="ngModel" type="text" name="courseName" id="courseName" class="form-control" required minlength="5">
        <div *ngIf="courseName.touched && !courseName.valid" class="alert alert-danger">
            <div *ngIf="courseName.errors.required">Course name is required.</div>
            <div *ngIf="courseName.errors.minlength">Course name should be minimum {{courseName.errors.minlength.requiredLength}} characters.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select ngModel #category="ngModel" name="category" id="category" class="form-control" required>
            <option value=""></option>
            <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
        </select>
        <div *ngIf="category.touched && !category.valid" class="alert alert-danger">Category is required</div>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="hasGuarantee" /> 30-day money-back guarantee
        </label>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
</form>