<div class="zippy panel panel-default">
    <div class="heading panel-heading" (click)="toggle()">
        {{ title }}
        <span 
            class="glyphicon"
            [ngClass]="{
                'glyphicon-chevron-down':collapsed,
                'glyphicon-chevron-up': !collapsed
            }">
        </span>
    </div>
    <div class="panel-body" [hidden]="collapsed">
        <ng-content></ng-content>
    </div>
</div>