@import '~@angular/material/_theming';

@include mat_core();

// Define a custom theme
$app-primary: mat-palette($mat-blue, 600);
$app-accent: mat-palette($mat-yellow, 700);
$app-warm: mat-palette($mat-red);

$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warm);

@include angular-material-theme($app-theme);

// Define custom typography
$app-typography: mat-typography-config(
    $font-family: '"Open Sans", "Helvetica Neue", sans-serif'
);

@include angular-material-typography($app-typography);