<!-- <bootstrap-panel>
    <ng-container class="heading">
        <h1>Angular</h1>
    </ng-container>
    <ng-container class="body">
        <tweet [tweet]="tweet"></tweet>
        <br>
        <hr>
        <favorite></favorite>
        <br>
        <hr>
        <courses></courses>
        <br>
        <hr>
        <authors></authors>
        <br>
        <hr>
        <input [(ngModel)]="title" />
        <p>{{title | titlecase }}</p>
        <br>
        <hr>
        <zippy title="Shipping details">
            Shipping details content
        </zippy>
        <zippy title="Billing details">
            Billing details content
        </zippy>
        <br>
        <hr>
        <contact-form></contact-form>
        <br>
        <hr>
        <new-course-form></new-course-form>

        <hr>
        <br>

        <signup-form></signup-form>
        <hr>
        <br>
        <br>
        <hr>
        <change-password-form></change-password-form>
        <hr>
        <br>
        <br>
        <hr>
        <followers></followers>
        <hr>
        <br>
        <br>
        <hr>
        <posts></posts>
    </ng-container>
</bootstrap-panel> -->

<navbar></navbar>
<router-outlet></router-outlet>