<h1>Heading 1</h1>
<h2>Heading 2</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio assumenda culpa sequi impedit fugit molestiae recusandae
  harum libero totam et commodi, cumque voluptatem! Libero est et minima repellat excepturi quisquam sint maxime fuga corrupti
  ut reiciendis impedit id odio doloribus ipsum error ipsam blanditiis voluptatibus, voluptas voluptates assumenda debitis
  temporibus, non sapiente. Assumenda velit perspiciatis laudantium ea veniam quae aperiam, pariatur exercitationem delectus
  sint unde est odit repudiandae nam! Vitae sapiente doloremque, voluptates veniam quo reprehenderit assumenda asperiores?
  Nobis id modi reiciendis ab quis totam harum ad. Laboriosam ea officia odit sint eos expedita delectus dolorem, fugiat
  tempora atque ex repellendus iusto ipsa architecto, corporis soluta! Magni nesciunt aspernatur ab eos excepturi voluptatibus
  libero eum, ratione omnis. Vero voluptate voluptatibus error adipisci nam praesentium, rerum provident veritatis necessitatibus
  suscipit dolor repudiandae cumque laudantium ratione rem laborum et? Sed doloribus consequatur, blanditiis nemo quod autem
  pariatur quos voluptate facilis nihil tenetur dolor corrupti ut suscipit ipsa architecto. Molestiae quo soluta consequuntur</p>

<mat-checkbox #showDetails [value]="" [checked]="isChecked" (change)="onChange($event)">Show Details</mat-checkbox>

<div *ngIf="showDetails.checked">Some details....</div>
<br />
<br />

<mat-radio-group>
  <mat-radio-button value="1">Male</mat-radio-button>
  <mat-radio-button value="2" [checked]="isChecked">Female</mat-radio-button>
</mat-radio-group>
<br />
<br />

<mat-form-field>
  <mat-select [(ngModel)]="color">
    <mat-option *ngFor="let color of colors" [value]="color.id">{{color.name}}</mat-option>
  </mat-select>
</mat-form-field>
<br />
<br />

<mat-form-field class="example-full-width">
  <input ngModel name="username" #username="ngModel" matInput placeholder="Username">
  <mat-hint>Type a unique username.</mat-hint>
  <span matSuffix>@domain.com</span>
  <span matPrefix>admin.</span>
  <mat-error *ngIf="username.invalid && username.errors.required">
    The username field is required.
  </mat-error>
</mat-form-field>
<br />
<br />

<mat-input-container>
  <textarea matInput matTextareaAutosize matrows="2"></textarea>
</mat-input-container>
<br />
<br />

<mat-input-container>
  <input (focus)="birthdate.open()" [min]="minDate" [max]="maxDate" type="text" matInput [matDatepicker]="birthdate">
  <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
</mat-input-container>
<mat-datepicker #birthdate touchUi="true"></mat-datepicker>
<br />
<br />

<mat-icon>add_alert</mat-icon>
<br />
<br />

<button mat-button>Button 1</button>
<button color="primary" mat-raised-button>Pprimary</button>
<button color="accent" mat-raised-button>Accent</button>
<button color="warn" mat-raised-button>Warn</button>
<button color="primary" mat-fab>
  <mat-icon>check</mat-icon>
</button>
<br />
<br />

<mat-chip-list>
  <mat-chip *ngFor="let category of categories" (click)="selectCategory(category)" [selected]="category.selected">{{category.name}}</mat-chip>
</mat-chip-list>
<br />
<br />

<mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
<mat-progress-spinner mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>
<br />
<br />

<span matTooltip="Here is my tooltip" matTooltipPosition="right">Some text</span>
<br />
<br />

<mat-tab-group>
  <mat-tab label="Billing">
    Content of the billing tab
  </mat-tab>
  <mat-tab label="Shipping">
    Content of the Shipping tab
  </mat-tab>
</mat-tab-group>
<br />
<br />

<button (click)="openDialog()" mat-raised-button>Open Dialog</button>