<div>
    <div *ngFor="let follower of followers" class="follower">
        <div class="follower-avatar">
            <img [src]="follower.avatar_url">
        </div>
        <div class="follower-story">
            <p class="follower-title"><a  [routerLink]="['/followers', follower.id, follower.login]" >{{follower.login}}</a></p>
            <p><a [href]="follower.html_url" target="_blank">{{follower.html_url}}</a></p>
        </div>
    </div>
</div>