<input type="text" (keyup.enter)="add(course)" #course />
<ul>
    <li *ngFor="let course of courses$ | async">
        {{course | json}}
        <button (click)="update(course)">Update</button>
        <button (click)="delete(course)">Delete</button>
    </li>
</ul>
<ul *ngIf="author$ | async as author">
    <li>{{ author.name }}</li>
    <li>{{ author.students }}</li>
    <li>{{ author.isPremium }}</li>
</ul>