/* You can add global styles to this file, and also import other style files */

@import '~bootstrap3/dist/css/bootstrap.css';
body {
    padding: 20px;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

.form-control.ng-touched.ng-valid {
    border: 2px solid green;
}

.form-control.error {
    border: 2px solid red !important;
}

.follower .follower-avatar {
    float: left;
    margin-right: 10px;
}

.follower .follower-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.follower .follower-story {
    font-size: 14px;
}

.follower .follower-story .follower-title {
    font-weight: bold;
}